[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = true
	matchAuthorToCommitterDate = false
	rejectEmptyCommit = false
	action = cherry pick
[access "refs/*"]
	owner = group CUE Admins
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group CUE Approvers
	push = group CUE Approvers
	read = group CUE Approvers
	rebase = group CUE Approvers
	removeReviewer = group CUE Approvers
	submit = group CUE Approvers
[access "refs/heads/*"]
	create = group CUE Admins
	push = +force group CUE Admins
	pushMerge = group CUE Admins
	read = group CUE Admins
	label-TryBot-Result = -1..+1 group CUE trybot
	label-Unity-Result = -1..+1 group CUE unity
	label-Code-Review = -2..+2 group CUE Approvers
[access "refs/tags/*"]
	push = group CUE Admins
	push = +force group CUE Admins
	create = group CUE Admins
	createTag = group CUE Admins
[label "Unity-Result"]
	function = NoBlock
	value = -1 Fail
	value = 0 No score
	value = +1 Pass
	defaultValue = 0
[label "TryBot-Result"]
	function = NoBlock
	value = -1 Fail
	value = 0 No score
	value = +1 Pass
	defaultValue = 0
[label "Verified"]
	function = MaxWithBlock
	defaultValue = 0
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = true
	requireChangeId = true
	createNewChangeForAllNotInTarget = false
	rejectImplicitMerges = true
[change]
	privateByDefault = false
	workInProgressByDefault = false
[reviewer]
	enableByEmail = false
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
