[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = true
	action = cherry pick
[access "refs/*"]
	read = group Anonymous Users
	owner = group CUE Super Admins
[access "refs/for/refs/*"]
	push = group CUE Approvers
	read = group CUE Approvers
	rebase = group CUE Approvers
	removeReviewer = group CUE Approvers
	submit = group CUE Approvers
[access "refs/heads/*"]
	create = group CUE Super Admins
	push = +force group CUE Super Admins
	pushMerge = group CUE Super Admins
	read = group CUE Admins
	labelAs-TryBot-Result = -1..-1 group CUE trybot
	label-TryBot-Result = -1..+1 group CUE trybot
	labelAs-Unity-Result = -1..-1 group cue.works unity
	label-Unity-Result = -1..+1 group cue.works unity
	labelAs-Unity-New-Result = -1..-1 group cue.works unity
	label-Unity-New-Result = -1..+1 group cue.works unity
	label-Code-Review = +0..+2 group CUE Approvers
	label-Code-Review = +0..+1 group Registered Users
	label-Hold = +0..+1 group CUE Approvers
	label-Trigger-Unity-New = +0..+1 group CUE Approvers
	submit = group CUE Approvers
	abandon = group CUE Admins
	editHashtags = group CUE Approvers
	toggleWipState = group CUE Admins
[access "refs/heads/ci/test"]
	push = +force group CUE Approvers
[access "refs/attic/*"]
	read = group Anonymous Users
	owner = group CUE Super Admins
	create = group CUE Super Admins
[access "refs/tags/*"]
	push = group CUE Super Admins
	create = group CUE Super Admins
	createTag = group CUE Super Admins
[access "refs/meta/config"]
	exclusiveGroupPermissions = label-Code-Review push read submit
	read = group CUE Admins
	push = group CUE Admins
	label-Code-Review = +0..+2 group CUE Admins
	submit = group CUE Admins
	editHashtags = group CUE Admins
[access "refs/for/refs/meta/config"]
	push = group CUE Admins
[label "Unity-Result"]
	function = NoBlock
	value = -1 Fail
	value = 0 No score
	value = +1 Pass
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE
[label "Trigger-Unity-New"]
	function = NoBlock
	value = 0 No score
	value = +1 Trigger a Unity run
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE
[label "Unity-New-Result"]
	function = NoBlock
	value = -1 Fail
	value = 0 No score
	value = +1 Pass
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE
[label "TryBot-Result"]
	function = NoBlock
	value = -1 Fail
	value = 0 No score
	value = +1 Pass
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE
[label "Verified"]
	function = NoBlock
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = true
	requireChangeId = true
	createNewChangeForAllNotInTarget = false
	rejectImplicitMerges = true
[change]
	privateByDefault = false
	workInProgressByDefault = false
[reviewer]
	enableByEmail = false
[project]
	description = The home of the CUE language. Validate and define text-based and dynamic configuration
[label "Code-Review"]
	function = NoOp
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE OR is:ANY
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[label "Hold"]
	function = NoOp
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE OR is:ANY
	value = 0 This change can be submitted.
	value = +1 Hold this change: don't submit it yet.
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
[submit-requirement "Do-Not-Submit"]
	description = Changes that have DO NOT SUBMIT in their commit message are not submittable.
	applicableIf = message:\"^.*(D|d)(O|o) (N|n)(O|o)(T|t) (S|s)(U|u)(B|b)(M|m)(I|i)(T|t).*\"
	submittableIf = is:false
	canOverrideInChildProjects = false
[submit-requirement "Do-Not-Review"]
	description = Changes that have DO NOT REVIEW in their commit message are not submittable.
	applicableIf = message:\"^.*(D|d)(O|o) (N|n)(O|o)(T|t) (R|r)(E|e)(V|v)(I|i)(E|e)(W|w).*\"
	submittableIf = is:false
	canOverrideInChildProjects = false
[submit-requirement "Code-Review"]
	description = At least one Code-Review+2 is required. Self review is not allowed, except for Marcel.
	submittableIf = label:Code-Review=MAX,user=non_uploader OR label:Code-Review=MAX,user=mpvl@gmail.com
	canOverrideInChildProjects = true
[submit-requirement "No-Holds"]
	description = Changes with a Hold+1 vote are not submittable.
	submittableIf = NOT label:Hold=1
	canOverrideInChildProjects = false
[submit-requirement "TryBot-Result"]
	description = TryBot-Result+1 is required. Unity-Result is not, as intentional breakages can happen. Can be bypassed by Chief Cueckoo with Code-Review+2.
	applicableIf = -branch:refs/meta/config
	submittableIf = label:TryBot-Result=MAX OR label:Code-Review=MAX,user=chief.cueckoo@gmail.com
	canOverrideInChildProjects = true
[commentlink "github PR/issue"]
	match = "(^|\\s)(#)(\\d+)"
	link = https://cuelang.org/issue/$3
	prefix = $1
	text = $2$3
[commentlink "gerrithub"]
	match = (^|\\s)(CL )(\\d+)
	link = https://cuelang.org/cl/$3
	prefix = $1
	text = $2$3
[commentlink "other repo GitHub issue/pr/discussion"]
	match = "(^|\\s)([-a-zA-Z]+\\/[-a-zA-Z]+)(#)(\\d+)"
	link = https://github.com/$2/issues/$4
	prefix = $1
	text = $2$3$4
