# See https://gerrit.googlesource.com/plugins/webhooks/+doc/master/src/main/resources/Documentation/config.md

# Send all events to webhooks.cue.works/gerrit_events for logging,
# using a shared secret via HTTP basic auth to check their origin.
# We later filter the events that we find useful on the server side.
[remote "cue_works_webhooks"]
  url = https://secret:7VsRwNMvA2fNMaaVSdXCC3NG@webhooks.cue.works/gerrit_events
